parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_name:     mysql_db
    database_user:     mysql_user
    database_password: mysql_password

    mailer_transport:   smtp
    mailer_host:        localhost
    mailer_port:        25
    mailer_user:
    mailer_password:

    locale:             en

    secret:             ThisTokenIsNotSoSecretChangeIt

    # Sonata Admin Options
    sonata_admin.title:             NzLab
    sonata_admin.logo_title:        /bundles/app/logo_title.png

    # Sonata News Options
    sonata_news.blog_title:         NzLab Blog
    sonata_news.blog_link:          https://nzlab.es/blog
    sonata_news.blog_description:   Personal tech/wiki blog
    sonata_news.salt:               %secret%
    sonata_news.comment.emails:     [mail@example.org]
    sonata_news.comment.email_from: no-reply@example.org

    # Sonata Media options
    sonata_media.cdn.host:          https://cdn.nzlab.es/uploads/media

    # Nz Bundles
    wp_database_name:     wp_db
    ffmpeg.binaries: ~
    ffprobe.binaries: ~
    ffmpeg.frame.seconds: ~
    cookie_domain: .nzlab.es