global

tune.ssl.default-dh-param 2048
ssl-default-bind-ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA

  maxconn     20000
  log         127.0.0.1 local0
  daemon

#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------

defaults
  mode http
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms
  stats   enable
  stats   uri /stats
  stats   realm Haproxy\ Statistics
  stats   auth admin:oASZiSygzfGAv1ptTRhv
  # never fail on address resolution
  default-server init-addr last,libc,none

frontend  front_https
  mode    http
  bind    *:443 ssl no-sslv3 crt /etc/ssl/"$HAPROXY_PEM_FILENAME"
  option  forwardfor except 127.0.0.0/8
  option  httplog
  reqadd X-Forwarded-Proto:\ https
#;  use_backend back_nzlab_sf

  acl host_nzlabes_sf hdr(host) -i www.nzlab.local
  acl host_nzlabes_sf hdr(host) -i nzlab.local
  acl host_nzlabes_cdn hdr(host) -i cdn.nzlab.local

  use_backend back_nzlab_sf if host_nzlabes_sf
  use_backend back_nzlab_cdn if host_nzlabes_cdn

backend back_nzlab_sf
  # balance roundrobin
  server server_site "$HAPROXY_HTTP_HOST":"$HAPROXY_HTTP_PORT_SF" check

backend back_nzlab_cdn
  # balance roundrobin
  server server_site "$HAPROXY_HTTP_HOST":"$HAPROXY_HTTP_PORT_CDN" check
